// Here you can add other styles
.add-padding {
  padding: 1.25rem;
}

.pull-right {
  float: right;
  margin-left: auto;
}

.app.dark-theme.default-layout {
  color: #e1e1e1 !important;
  background-color: #0a0b18;
  --color: #e1e1e1 !important;
}

.header-nav .nav-link {
  color: #e1e1e1 !important;
}

.app.dark-theme {
  --primary: #4638c2;
  --secondary: #4c4f54;
  --success: #45a164;
  --info: #4799eb;
  --warning: #e1a82d;
  --danger: #d16767;
  --light: #20202a;
  --dark: #181924;
}

.color-white{
  color: #e1e1e1
}
.sidebar.sidebar-dark {
  color: #e1e1e1;
  background: #1e1e29;
  border: 0;
}

.header {
  background: #1e1e29 !important;
  color: #e1e1e1 !important;
  border-bottom: 0 !important;
}

.breadcrumb-item.active {
  color: #e1e1e1 !important;
}

.footer.dark {
  color: #e1e1e1;
  background: #1e1e29;
  border-top: 1px solid #181924;
}

.rjsf{
  color: #ffffff !important;

  .field-object{
    padding-top: 40px;
  }

  .form-group:last-of-type{
    padding-bottom: 10px;
  }
}

